@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  margin: 0;
}

header {
  box-shadow: 0px 0px 27px rgba(230, 230, 230, 0.5);
}

.header-section {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  max-width: 960px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #393939;
}

div nav ul li {
  display: inline-block;
  margin: 0.5rem;
}

span {
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .header-section {
    display: block;
    position: relative;
  }

  .USERNAME {
    display: block;
    text-align: center;
    position: absolute;
    top: 65px;
    margin-top: 14px;
    padding-top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .LOGO {
    display: block;
    text-align: center;
  }

  .MENU {
    padding-top: 20px;
    display: block;
    text-align: center;
  }

  .MENU nav ul {
    margin: 0;
    padding: 0;
  }

  .MENU nav ul li {
    display: block;
  }

  .LOGO {
    order: 0;
  }
}
