
body{
  
    margin: 0px;
    font-family: 'Roboto', sans-serif; 
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0 10px;
}

header{
    max-width: 970px;
    margin: 0 auto;
    padding: 15px;
  
}

.NavLinkAnchor{
    
    color: #393939;
    text-decoration: none;
    font-size: 20px;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    gap: 10px;
    text-transform: uppercase;
}

#firstNavList{
    text-align: center;
}

#secondNavList{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    text-align: center;
    gap: 30px;
}

#logoIMG{
    padding: 0 15px;
}




